<div class="border" class="pointer addnewicon" (click)="open(mymodal)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-minus" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM8 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 8 8z"/>
      </svg>
  </div>
  
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Remove action</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">    
      <!-- available actions -->
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <!-- <h6 class="border-bottom border-gray pb-2 mb-0">{{ title }}</h6> -->
        <div class="ml-4 mt-1">
            <h6>Are you sure that you want to delete this action?</h6>
        </div>
      </div>       
      <!-- // actions -->    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('confirm')">Confirm</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel')">Cancel</button>
    </div>
  </ng-template>