.box {
  width: max-content;
  margin: auto 50%;
  transform: translate(-50%);
  background: #fff !important;
  border: 2px solid #dae2f1 !important;
  color: var(--color) !important;
  border-radius: 10px !important;
  outline: none !important;
  padding: 14px 16px;
  box-shadow: 0 1px 4px 2px var(--border-box);
  position: static;
  ::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    height: 36px;
    width: 0;
    top: calc(100% - 90px);
    border-right: 1px solid var(--color);
    border-left: 0 !important;
  }
  .title {
    font-size: 16px;
    text-transform: uppercase;
  }
  .content {
    font-size: 14px;
    color: var(--text-lightGray);
    text-transform: uppercase;
  }
}

.text-gray {
  color: var(--text-gray);
}

.pointer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 35px;
}

.addnewicon {
  margin-left: 1px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 30px;
  line-height: 26px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid var(--text-lightGray) !important;
  box-shadow: 0 1px 4px 2px var(--border-box);
  cursor: pointer;
}

.minibox {
  position: relative;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  display: block;
  max-width: 100px;

  &.minibox--no {
    color: #ea4335;
    border: 1px solid #ea4335;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      height: 36px;
      width: 0;
      top: calc(25px);
      border-right: 1px solid var(--color);
      border-left: 0 !important;
    }
  }
  &.minibox--yes {
    color: var(--border-gray);
    border: 1px solid var(--border-gray);
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      height: 36px;
      width: 0;
      top: calc(25px);
      border-right: 1px solid var(--color);
      border-left: 0 !important;
    }
  }
}

.pb {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.plumbing {
  height: 100px;
  width: 50%;
  top: 0;
  position: relative;
  > svg path {
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke-width: 1;
  }
}
