.container{
  position: relative;
  // border: 1px solid red;
  width: auto;
}

.box {
  width: max-content;
  margin: auto 50%;
  transform: translate(-50%);
  background: #fff!important;
  border: 2px solid #dae2f1!important;
  color: var(--color)!important;
  border-radius: 10px!important;
  outline: none!important;
  padding: 14px 16px;
  box-shadow: 0 1px 4px 2px var(--border-box);
  position: static;
  ::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    height: 36px;
    width: 0;
    top: calc(100% - 84px);
    border-right: 1px solid var(--border-gray);
    border-left: 0 !important;
  }
  .title{
    font-size: 16px;
    text-transform: uppercase;
  }
  .content{
    font-size: 14px;
    color: var(--text-lightGray);
    text-transform: uppercase;
  }
}

.text-gray {
  color: var(--text-gray);
}

.pointer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 35px;
}

.addnewicon {
  margin-left: 1px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 30px;
  line-height: 26px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid var(--border-gray)!important;
  -webkit-box-shadow: 0 4px 4px 0 rgb(0 0 0 / 13%);
  box-shadow: 0 1px 4px 2px var(--border-box);
  // box-shadow: 0 1px 4px 2px rgb(218 226 241 / 66%);
  cursor: pointer;
}

.pb {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.plumbing {
    height: 74px;
    width: 260px;
    top: 0;
    position: relative;
    .left {
    //right: 50%;
  }
  .right {
    //left: 50%;
  }
  svg path {
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke-width: 1;
  }
}