<div id="content-wrapper" class="content-wrapper">
  <app-header></app-header>

  <div id="flow" class="flow" [ngStyle]="{ transform: 'scale(' + zoom + ')' }">
    <ng-template #mainTemplate></ng-template>
  </div>

  <div
    class="border p-3 card"
    style="position: fixed; bottom: 32px; right: 39px; width: 20%; opacity: 0.5"
  >
    <div class="progress progress-lg">
      <input
        type="range"
        value="8"
        max="20"
        min="2"
        (input)="alteraZoom($event)"
        class="progress-bar"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      />
    </div>
  </div>
</div>
