.wrap-content{
    position: relative;
    width: 90%;
    background-color: var(--secondary-background);
    border-radius: 10px;
    float: right;
    padding: 32px 0 20px!important;
    min-height: 85vh;
    margin-top: 5vh;
    box-shadow: 0 5px 20px rgba(47,138,245,.25)!important;
    .zoom-content{
        display: block;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        transform: scale(0.8);
    }

    .button-zoom {
        display: block;
        margin:5px;
        background: var(--bg-mainBlue);
        color: var(--text-blue);
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        line-height: 40px;
        border-radius: 50%;
    }
}
