.box {
  position: relative;
  width: max-content;
  margin: auto 50%;
  transform: translate(-50%);
  background: var(--secondary-background) !important;
  border: 2px solid #dae2f1 !important;
  color: var(--color) !important;
  border-radius: 10px !important;
  outline: none !important;
  padding: 14px 16px;
  box-shadow: 0 1px 4px 2px var(--border-box);
  ::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    height: 36px;
    width: 0;
    top: calc(100% + 1px);
    border-right: 1px solid var(--color);
    border-left: 0 !important;
  }
  &--title {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--text-gray);
  }
  &--content {
    font-size: 12px;
    color: var(--text-lightGray);
    text-transform: lowercase;
  }
}

.mini-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 35px;

  .icon-add-new {
    margin-left: 1px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 29px;
    height: 30px;
    line-height: 26px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--text-lightGray) !important;
    box-shadow: 0 1px 4px 2px var(--border-box);
    cursor: pointer;
  }
}
